extends layout

block content
	div.container
		div.row
			#user
				h1.text-center.login-title Welcome #{user.username}.
					div.signup-wall
						Virtual Classroom Start Page 
						a(href='/signout') Sign Out