extends layout

block content
	div.col-sm-6.col-md-4.col-md-offset-4
		h1 Welcome, #{user.username}!
		if user.role=='Professor'
			div.form-group
				label New room name
				input(type='text', id='conference-name', class='form-control', placeholder='Broadcast Name')
			button(id='start-conferencing', class='btn btn-warning btn-lg') New Broadcast
		div.form-group
			br
			label Enter a room in progress
			table(id='rooms-list' class='form-control')		
		span.clearfix
		br
		a(href='/signout') Sign Out